body {
    text-align: center;
}

.main-size {
    width: 800px;
    margin: 0 auto;
}

.k{
    color: black;
}

.j {
    background-color: chartreuse;
}

.yahoo {
   color: red;
}

.img-size {
    width: 100px;
    height: 100px;
}

.float {
    float: left;
    width:50%;
}

.clear {
    clear:left;
}

footer p {
    margin-top: 25px;
    font-size: 20px;
    font-family:initial
}

@media (max-width:670px) {

    .main-size {
        width: 300px;
        margin: 0 auto;
    }


    .float {
        width:100%;
        margin-bottom: 5px;
    }

    .img-size {
        width: 40px;
        height: 40px;
    }
}
